/* Global Styles */
body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background: linear-gradient(to top, #212121, #FAFAFA);
  color: #fff;
  font-size: 18px;
  text-align: center;
}

/* Section Styles */
section {
	font-family: 'Yanone Kaffeesatz', sans-serif;
  background: linear-gradient(to right, #0F172A, #164E63);
  color: #fff;
  border: 2px solid #546E7A;
  border-radius: 30px;
  box-shadow: 0 0 10px #546E7A;
  padding: 20px;
  margin: 20px 0;
}

/* Heading Styles */
h1 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 3em;
}

/* Image Styles */
img {
  filter: drop-shadow(0 0 20px #51E5FF);
  width: 80%;
  margin: 0 auto;
}

/* Paragraph Styles */
p {
	font-family: 'Yanone Kaffeesatz', sans-serif;
  padding: 20px;
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 20px;
  
  /* CSS Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Section Styles with Animation */
section {
  background: linear-gradient(to right, #0F172A, #164E63);
  color: #fff;
  border: 2px solid #546E7A;
  border-radius: 30px;
  box-shadow: 0 0 10px #546E7A;
  padding: 20px;
  margin: 20px 0;
  /* Apply the animation to the sections */
  animation: fadeIn 3s; /* Change the animation duration as desired */
}
